<body style="background-color:cyan; font-family:futura; text-align:center;">
<h1> Welcome! </h1>
<p1> I'm Sinjon Santos, a freshman from LA.</p1>
<p></p>
<p2>Fun fact: I'm in AFX.</p2>
<p></p>
<p3>I'm excited to learn more about MVC! WOOOOO!</p3>
<!-- <img src="mypic.png" alt="my picture"> -->
<p></p>
<p5>
me as a girl:
</p5>
<p></p>
<p4>
<%= image_tag("mypic.png", size: "630x350", alt: "Me as a girl")%>
</p4>
</body>
